.site-header {
    background-color: #1e1e1e;
    border-bottom: 6px solid #181818;
    font-size: 1em;
    padding: 0;
    color: #f9f9f9;
    max-height: 150px;
    height: 100px;
    background-image: url(../images/Summit-header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
}

.site-header .container {
    padding-right: 0;
    padding-left: 0;
}

/*-- Logo --*/
.site-header .logo {
    float: none;
    height: auto;
    padding: 0.75em 0 0 1em;
    position: relative;
    z-index: 6;
    width: 50%;
}

.site-header .logo a {
    display: block;
    text-align: left;
    padding: 0; 
}

.site-header .logo img {
    width: 100%;
    max-width: 130px;
}

/*-- Search --*/
.site-header .search {
  padding: 0.5em 0 0 1em;
  margin: 1.5em 0;
}

.search .collapse.in,
.search .collapsing {
    display:inline-block;
}

.search .collapse {
    display: inline-block;
}

.site-header .search-toggle {
    font-size: 1.429em;
    color: #f4a939;
}

/* -- For Navigation, see main-navigation.css -- */



/*----- Media Queries -----*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .site-header {
        height: auto;
        /*margin-bottom: 2em;*/
    }

    .site-header .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .site-header .logo {
        width: auto;
    }

    .site-header .logo img {
        max-width: 215px;
    }

    .site-header .search {
        float: right;
        margin: 0;
    }

    .site-header .search-toggle {
        position: absolute;
        top: -7px; /* to align icon with nav items */
    }

    .search .collapse {
        display: none;
    }

    /*.site-header li.dropdown:hover .dropdown-menu {
        display: block;
        right: auto;
        box-shadow: none;
        border: none;
        border-radius: 0;
    }*/
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}