#engageMainNav {
    height: 40px;
    position: relative;
    z-index: 1;
}

.eng-nav-button {
    height: 20px;
    width: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
    border: none;
    /*background-image: linear-gradient(to bottom, #333 20%, transparent 20%, transparent 40%, #333 40%, #333 60%, transparent 60%, transparent 80%, #333 80%);
    -ms-border-radius: 5px;
    border-radius: 5px; */
    cursor: pointer;
}

.eng-nav-list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    -webkit-transition: left .2s ease-in;
    -moz-transition: left .2s ease-in;
    -ms-transition: left .2s ease-in;
    -o-transition: left .2s ease-in;
    transition: left .2s ease-in;
}

.eng-nav-main-list {
    position: absolute;
    top: 40px;
    width: 100%;
}

.eng-nav-item {
    cursor: pointer;
}

.eng-nav-mobile-back a {
    pointer-events: none;
}

.eng-nav-show {
    display: block;
}

.eng-nav-dropdown > .eng-nav-node:after {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border-width: 5px;
    border-color: transparent transparent transparent #333;
    border-style: solid;
    position: absolute;
    right: 15px;
    top: 1.5em;

}

.eng-nav-sub-list {
    position: absolute;
    top: 0; 
}

.eng-nav-dropdown > .eng-nav-sub-list {
    display: block;
}

.eng-nav-dropdown > .eng-nav-node {
    padding-right: 25px;
    pointer-events: none;
    cursor: pointer;
    position: relative;
}

.eng-nav-main-item {
    
}

.eng-nav-node {
    
    text-decoration: none;
    display: block;
    padding: 15px 30px;
}



.eng-nav-node .caret{
    margin-top: .5em;
}

.eng-nav-upper-level .eng-nav-lower-level{ left: 200%;}
.eng-nav-lower-level{ left: 100%;}
.eng-nav-current-level{ left: 0;}
.eng-nav-upper-level{ left: -100%;}
.eng-nav-upper-level .eng-nav-current-level{left: 100%;}
.eng-nav-upper-level .eng-nav-upper-level{ left: 0;}

/* Switch to "touch" menu */
@media (min-width:768px) {
    .eng-nav-dropdown > .eng-nav-sub-list {
        display: none;
    }
    .eng-nav-list {
        width: auto;
    }

    .eng-nav-dropdown:hover > .eng-nav-sub-list {
        display: block;
    }

    .eng-nav-item {
        position: relative;
    }

    .eng-nav-dropdown > .eng-nav-node:after {
        content: '';
        width: 0;
        height: 0;
        display: inline-block;
        border-width: 5px;
        border-color: transparent transparent transparent #333;
        border-style: solid;
        position: relative;
        left: 5px;
        top: .3em;
        right: auto;
    }

    .eng-nav-dropdown > .eng-nav-node {
        pointer-events: initial;
    }

    .eng-nav-list {
        white-space: nowrap;
    }

    .eng-nav-mobile {
        display: none;
    }

    .eng-nav-button {
        display: none;
    }

    .eng-nav-main-list {
        display: block;
        position: static;
    }

    .eng-nav-sub-list {
        position: absolute;
        left: 0;
        top: 100%;
    }

        .eng-nav-sub-list .eng-nav-sub-list {
            left: 100%;
            top: 0;
        }

    .eng-nav-main-item {
        /*display: inline-block; */
        border-top: none;
    }

    .eng-nav-item:hover > .eng-nav-node {
        
    }

        .eng-nav-item:hover > .eng-nav-node:after {
            border-color: #999 transparent transparent transparent;
        }

    .eng-nav-dropdown > .eng-nav-node:after {
        border-color: #333 transparent transparent transparent;
    }
}
