@import './styles/clickables.css';
@import './styles/containers.css';
@import './styles/footer-content.css';
@import './styles/main-navigation.css';
@import './styles/overrides.css';
@import './styles/text.css';
@import './styles/theme-header.css';
@import './styles/theme-footer.css';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #585858;
}




/*-- Layouts --*/

.site-content-area {
    background-image: url(./images/mountains-bg.png);
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: bottom;
    padding-bottom: 15em;
}

.blog .site-content-area {
    background-image: url(./images/mountains-trees-bg.png);
}

.lead-row {
    margin: 2em 0;
    /*width: 80%;
    margin: 2em auto 4em;*/
}

.hero-row {
    margin-bottom: 2em;
}

.hero-row img {
  width: 100%;
}

.feature-row {
    margin-bottom: 4em;
}

/*-- Feature --*/
.featured-story-wrap {
    background-image: url(./images/Summit-feature-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: bottom;
    padding: 5em 0;
    min-height: 500px;
}

.featured-story-title {
    background-color: #f4a939;
    display: inline-block;
    padding: 1em 2em 1em 1em;
}

.featured-story-content {
    background-color: rgba(0,0,0,0.5);
    padding: 2em;
}

.featured-story-content p {
    color: #fff;
    font-size: 1.286em; 
    line-height: 1.7;  
}

.featured-story-content .read-more {
    color: #fff;
    background-color: #135d7d;
}

.featured-story-content .read-more:hover {
    color: #fff;
    background-color: #f4a939; 
}

/*-- Blog Layout *--/
/*-- Blog Detail --*/
.blog-pane {
    background: #f9f9f9;
}

.blog-detail {}
.blog-title {}


/*-- Card Content --*/
.card-content-wrap {}
    img.card-image {
        width: 100%;
    }
    .card-content {
        padding: 0 2em 2em;
    }

    .action-wrap {
        .clearfix;
        padding: 1rem 2rem 2rem;
    }
        .rating {
            float: left;
            width: 50%;
        }
            .rating .fa {
                color: #585858;
                font-size: 1.5em;
            }   

        .more-btn {
            float: right;
            width: 50%;
            text-align: right;
            font-weight: 600;
        }

/*----- Media Queries -----*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .lead-row {
        margin: 4em 0;
    }

    .hero-row {
        margin-bottom: 4em;
    }

    .site-content-area {
        position: relative;
        top: -23px; /* to pull main section to bottom of header, while letting logo overhang */   
        margin-bottom: -23px; /* counters top positioning to ensure bottom of main meets top of footer */ 
    }
    .blog-pane {
        top: -180px;
        padding: 2em 8em;
    }

    .featured-story-content {
        width: 65%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}