@import './styles/containers.css';
@import './styles/footer-content.css';
@import './styles/main-navigation.css';
@import './styles/overrides.css';
@import './styles/text.css';
@import './styles/theme-header.css';
@import './styles/theme-footer.css';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #585858;
}

/*-- Feature --*/
.featured-story-wrap {
    background-image: url(./images/Summit-feature-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom;
    padding: 5em 0;
    min-height: 500px;
}

.featured-story-wrap h2 {
    background-color: #f4a939;
    display: inline-block;
    padding: 1em 2em 1em 1em;
}
.featured-story-wrap p { width: 65%; }


/*-- Blog Detail --*/
.blog-pane {
    top: -180px;
    background: #f9f9f9;
    padding: 2em 8em;
}

.blog-detail {}
.blog-title {}

.lead-row {
    margin: 2em 0;
    /*width: 80%;
    margin: 2em auto 4em;*/
}

.hero-row {
    margin-bottom: 4em;
}

.hero-row img {
  width: 100%;
}

.feature-row {
    margin-bottom: 4em;
}

.site-content-area {
    background-image: url(./images/mountains-bg.png);
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: bottom;
    padding-bottom: 15em;
}

.blog .site-content-area {
    background-image: url(./images/mountains-trees-bg.png);
}

/*-- Card Content --*/
.card-content-wrap {}
    img.card-image {
        width: 100%;
    }
    .card-content {
        padding: 0 2em 2em;
    }

    .action-wrap {
        .clearfix;
        padding: 1rem 2rem 2rem;
    }
        .rating {
            float: left;
            width: 50%;
        }
            .rating .fa {
                color: #585858;
                font-size: 1.5em;
            }   

        .more-btn {
            float: right;
            width: 50%;
            text-align: right;
            font-weight: 600;
        }

/*----- Media Queries -----*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .lead-row {
        margin: 4em 0;
    }
    .site-content-area {
        position: relative;
        top: -23px; /* to pull main section to bottom of header, while letting logo overhang */   
        margin-bottom: -23px; /* counters top positioning to ensure bottom of main meets top of footer */ 
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}